# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ionic
node_modules/
plugins/

# Platform iOS
*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build

# Platform Android
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle

# Ant builds
platforms/android/ant-build
platforms/android/ant-gen

# Eclipse builds
platforms/android/gen
platforms/android/out

Gradle builds
platforms/android/build
